@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --color-green-50: #eff7ff;
    --color-green-100: #dcedfd;
    --color-green-200: #c1e0fc;
    --color-green-300: #96cefa;
    --color-green-400: #64b2f6;
    --color-green-500: #4093f1;
    --color-green-600: #2a76e6;
    --color-green-700: #2260d3;
    --color-green-800: #224eab;
    --color-green-900: #214487;
    --color-green-950: #1b2f5a;

    --color-blue-50: #EFFDF5;
    --color-blue-100: #D9FBE8;
    --color-blue-200: #B3F5D1;
    --color-blue-300: #75EDAE;
    --color-blue-400: #00DC82;
    --color-blue-500: #00C16A;
    --color-blue-600: #00A155;
    --color-blue-700: #007F45;
    --color-blue-800: #016538;
    --color-blue-900: #0A5331;
    --color-blue-950: #052E16;

}
